.application-table {
	width: 100%;
	th {
		font-size: 12px;
		line-height: 1;
		color: #638ee6;
		padding: 15px 10px 7px;
		font-weight: 400;
	}
	td {
		border: 1px solid #ebebeb;
		background-color: #fff;
		// padding: 15px 10px 7px;
		padding: 10px 15px;

		color: #7e7e7e;
		font-size: 14px;

		text-align: center;
		&:first-child {
			font-weight: 600;
			color: #323232;
			text-align: left;
		}
	}
}

.application-table_else {
	th {
		opacity: 0;
		visibility: hidden;
	}
	td {
		padding: 10px 15px;
	}
}