.banner-content {
	padding-top: 250px;
	padding-bottom: 100px;
	p {
		line-height: 1.44;
	}
	@include mmd() {
		padding-top: 200px;
	}
}
.banner-content__button {
	margin-top: 40px;
}

.banner-content_any-work {
	padding: 65px 15px;
	flex-basis: 585px;
	max-width: 585px;
	h3 {
		margin-bottom: 45px;
		color: #fff;
	}
	@include mmd() {
		padding: 35px 15px;
	}
}