.banner-content-box {
	color: #fff;
	padding-top: 250px;
	padding-bottom: 100px;
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.11;
		font-weight: 700;
		margin-bottom: 10px;
	}
	h1 {
		font-size: 54px;
	}
	h3 {
		font-size: 20px;
		margin-bottom: 45px;
	}
	p {
		line-height: 1.44;
	}
	@include mmd() {
		padding-top: 200px;
		h1 {
			font-size: 44px;
		}
	}
}

.banner-content-box_medium {
	padding: 65px 0;
}