.basket {
	&:hover {
		text-decoration: none;
		color: #323232;
		.basket__icon {
			-webkit-transform: translateX(-8px);
			transform: translateX(-8px);
		}
	}
}
.basket__icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	@include backward();
}
.basket__txt {
	display: inline-block;
	vertical-align: middle;

}
.basket__txt-in {
	font-weight: 600;
}