.button {
	display: block;
	// width: 100%;
	border-radius: 1px;

	color: #323232;
	line-height: 1;
	text-align: center;
	padding: 11px 10px 11px;
	border: 1px solid #000;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.button_blue {
	background-color: #2a569f;
	border-color: #2a569f;
	color: #fff;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}
.button_orange {
	background-color: #f58634;
	border-color: #f58634;
	color: #fff;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}
.button_effect_orange {
	@include button_effect();
	&:before {
		background-color: #f58634;
	}
	&:hover {
		color: #fff;
		border-color: #f58634;
	}
}

.button_effect_blue {
	@include button_effect();
	&:before {
		background-color: #2a569f;
	}
	&:hover {
		color: #fff;
		border-color: #2a569f;
	}
}

.button_bounce-in {
	@include bounce-in();
}


.button_forward {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: transform, color;
	transition-property: transform, color;
	&:hover {
		-webkit-transform: translateX(8px);
		transform: translateX(8px)
	}
}



.button_width {
	width: 155px;
	@include mxl() {
		width: 144px;
	}
}

.button-sort {
	position: relative;
	margin: 3px 0;
	&:before {
		content: '';
		
		display: block;
		border-bottom: 7px solid #b0b0b0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		transition: .1s linear;
	}
	&:hover {
		&:before {
			border-bottom-color: #f58634;
		}
	}
}
.button-sort_down {
	&:before {
		transform: rotate(180deg);
	}
}

.button-toggle {
	position: relative;
	&:before {
		content: '';

		display: block;
		border-bottom: 9px solid #000;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;

		// transform: rotate(180deg);
	}
}
.button_on_background {
	border-color: rgba(255, 255, 255, 0.26);
	background-color: rgba(255, 255, 255, 0.06);
}