.catalog-filter {
}
.catalog-filter_mob {
	@include mmd() {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		opacity: 0;
		visibility: hidden;
		transform: translate(-50px, 0);

		transition: linear .2s;

		z-index: 9999999;
		background-color: rgba(#000, .5);
		overflow: scroll;
		.catalog-filter__in {
			position: absolute;
			top: 0;
			left: 0;
			width: 300px;
			padding: 50px 20px;

			background-color: #fff;

			opacity: 0;
			visibility: hidden;
			transform: translate(-50px, 0);

			transition: .2s linear;
		}
		&.visible {
			opacity: 1;
			visibility: visible;
			transform: translate(0);
			.catalog-filter__in {
				opacity: 1;
				visibility: visible;
				transform: translate(0);
			}
		}
	}
}
.catalog-filter__item {
	padding-bottom: 14px;
	border-bottom: 1px solid rgba(151, 151, 151, 0.14);
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
		border-bottom-color: transparent;
	}
}
// .catalog-filter__hamburger {
// 	color: #fff;
// 	font-size: 20px;

// 	width: 30px;
// 	height: 30px;
// 	position: fixed;
// 	bottom: 30px;
// 	right: 30px;

// 	border-radius: 50%;
// 	background-color: #f58634;

// 	animation-name: pulse;
// 	animation-duration: 2s;
// 	animation-iteration-count: infinite;
// 	&:before {
// 		content: '';

// 		position: absolute;

// 	}
// 	@include md() {
// 		display: none;
// 	}
// }

.catalog-filter__close {
	position: absolute;

	left: 275px;
	top: 15px;

	z-index: 2;
	transition: linear .2s;
	&:before, &:after {
		background-color: #2a569f;
	}
	@include md() {
		display: none;
	}
}