.catalog-filter-result {
	// height: 5000px;
}
.catalog-filter-result__search {
	margin-bottom: 15px;
}
.catalog-filter-result__pagination {
	margin-top: 20px;
}



.catalog-filter-cols {

}
.catalog-filter-cols__item {
	@media only screen and(max-width: 400px) {
		flex-basis: 100%;
		max-width: 100%;
	}
}



.catalog_favourites {

}
.catalog-filter-result__search_favourites {
	margin-bottom: 40px;
}