.catalog {
	padding: 65px 0 61px;
}

.catalog__hamburger {
	color: #fff;
	font-size: 20px;

	width: 30px;
	height: 30px;
	position: fixed;
	bottom: 15px;
	right: 15px;

	border-radius: 50%;
	background-color: #f58634;

	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	z-index: 3;
	@include md() {
		display: none;
	}
	&:before, &:after {
		content: '';

		position: absolute;
		top: -6px;
		right: -6px;
		left: -6px;
		bottom: -6px;
		background-color: rgba(#f58634, .3);

		animation-name: pulse;
		animation-duration: 2s;
		animation-delay: 1s;
		animation-iteration-count: infinite;
		border-radius: 50%;
	}
	&:after {
		background-color: rgba(#f58634, .5);
		animation-delay: .5s;
		top: -3px;
		left: -3px;
		right: -3px;
		bottom: -3px;
	}
	.fa {
		position: relative;
		z-index: 3;
	}
}