.catalog-filter-indicators {
 line-height: 1;
}
.catalog-filter-indicators__title {
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(#323232, .5);
}
.catalog-filter-indicators__list-wrap {
	padding-left: 45px;
	@include mlg() {
		padding-left: 15px;
	}
}
.catalog-filter-indicators__list {
	margin-left: -11px;
	margin-right: -11px;
}
.catalog-filter-indicators__col {
	padding-left: 11px;
	padding-right: 11px;
}