.close {
	position: relative;
	width: 16px;
	height: 16px;

	transform: rotate(45deg);
	transition: linear .2s;
	&:before {
		content: '';

		width: 16px;
		height: 2px;

		position: absolute;
		top: 7px;
		left: 0;
		
		background-color: #fff;
	}
	&:after {
		content: '';

		width: 2px;
		height: 16px;

		position: absolute;
		top: 0;
		left: 7px;

		background-color: #fff;
	}
}

.close_blue {
	&:before, &:after {
		background-color: #2a569f;
	}
}
.close_black {
	&:before, &:after {
		background-color: #000;
	}
}


// .magnify-mobile {
// 	// position: static;
// 	.close {
// 		transform: none;
// 		&:after, &:before {
// 			display: none;
// 		}
// 	}
// }

// .lens-mobile {
// 	// position: static !important;
// 	@include mmd() {
// 		justify-content: center;
// 		align-items: center;
// 		display: flex !important;
// 		img {
// 			// max-width: none;
// 			// width: 320px;
// 		}
// 	}
	
// }