.color-box {
	width: 9px;
	height: 9px;
}
.color-box_red {
	background-color: #ff0000;
}
.color-box_yellow {
	background-color: #faff00;
}
.color-box_green {
	background-color: #00ff24;
}
.color-box_violet {
	background-color: #b800ff;
}
.color-box_light-blue {
	background-color: #00d6ff;
}
.color-box_orange {
	background-color: #ff9400;
}
.color-box_blue {
	background-color: #2b00ff;
}