.content {
	margin-bottom: 15px;
	&:last-child {
		margin-bottom: 0;
	}
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
		margin-bottom: 15px;
	}
	h1 {
		font-size: 54px;
		line-height: 1.11;
	}
	h2 {
		font-size: 35px;
		line-height: 43px;
		color: #222;
	}
	h3 {
		font-size: 20px;
		line-height: 24px;
		color: #373737
	}
	p {
		
	}
	@include mmd() {
		h1 {
			font-size: 44px;
		}
	}
}

