.contact-form {

}


.contact-form__in {
	margin-left: -7px;
	margin-right: -7px;
}

.contact-form__wrap {
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom: 15px;
}

.contact-form__field {
	padding: 11px 20px 12px;

	// color: rgba(#323232, .5);
	color: #323232;
	font-size: 14px;
	line-height: 1;

	background-color: #f9f9f9;
	border: solid 1px #dcdcdc;
	@include iph() {
		// color: rgba(#323232, .5);
		color: #7e7e7e;
		font-size: 14px;
		line-height: 1;
	}
}


.contact-form__submit {
	margin-left: 7px;
	margin-right: 7px;
}