.custom-popup {
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
	padding: 30px 15px 15px;

	transform: translate(0, -50px);
	opacity: 0;
	visibility: hidden;
	transition: .3s linear;

	box-sizing: border-box;
	max-width: 378px;
}

.fancybox-slide {
	padding-left: 15px;
	padding-right: 15px;
}
.fancybox-slide--current {
	.custom-popup {
		transform: translate(0, 0);
		opacity: 1;
		visibility: visible;
	}
}
.custom-popup__close {
	position: absolute;
	right: 5px;
	top: 5px;
}

.fancybox-container {
	// opacity: 1;
}
.fancybox-is-open .fancybox-bg {
	// opacity: 1;
}
.fancybox-bg {
	background-color: rgba(#fff, 1);
	opacity: 1;
}