.filter-result-search {

}
.filter-result-search__input {
	font-size: 14px;
	color: #323232;


	padding: 9px 90px 9px 15px;
	@include iph() {
		font-size: 14px;
		color: rgba(#7e7e7e, .51);
	}
}
.filter-result-search__btn {
	width: 48px;
	height: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
	.fa {
		font-size: 19px;
		color: rgba(0, 0, 0, 0.12);
		transition: linear .1s;
	}
	&.active {
		.fa {
			color: rgba(0, 0, 0, 0.54);
		}
		&:hover {
			.fa {
				color: rgba(0, 0, 0, 0.54);
			}
		}
	}
	&:hover {
		.fa {
			color: #f58634;
		}
	}
}
.filter-result-search__btn_row {
	right: 48px;
	@media only screen and(max-width: 400px) {
		display: none;
	}
}
.filter-result-search__btn_col {
	right: 0;
	border-left: 1px solid #f0f0f0;
}