.footer {
	background-color: #274b8f;
	padding: 45px 0 27px;
	color: #fff;
	margin-top: auto;
	// padding-bottom: 3000px;
}
.footer__info {
	// flex: 0 0 158px;
	// max-width: 158px;
	& > * {
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.footer__copy {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.44;
	// color: #fff;
}
.footer__menus {
	// flex: 0 0 635px;
	// max-width: 635px;
	@include mlg() {
		// flex: 0 0 485px;
		// max-width: 485px;
	}
}

.footer__buttons {
	@include mlg() {
		// flex: 0 0 100%;
		// max-width: 100%;
		// text-align: center;
	}
	@include mmd() {
		// flex: 1 0 auto;
		// max-width: auto;
		// width: auto;
	}
}
.footer__button {
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}
	@include msm() {
		// display: inline-block;
		// vertical-align: top;
		// width: auto;
		// margin: 10px;
	}
}