.header {
	background-color: $background_header;
	position: fixed;
	top: 0;
	left: 0;
	// width: 100%;
	right: 0;
	z-index: 999;

	transition: background-color linear .080s;
}
.header__search-form {
	flex: 0 0 362px;
	max-width: 362px;
}
.header__main {
	padding: 25px 0 13px;
	position: relative;
	z-index: 2;
	@include mxl() {
		padding-top: 15px;
		padding-bottom: 3px;
	}
	
}
.header__sub {
	background-color: #2a569f;
}
.header__menu {
	@include md() {
		padding-top: 5px;
	}
}
.header__hamburger {
	display: none;
	@include mmd() {
		display: block;

		position: absolute;
		top: 100%;
		margin-top: 15px;
		right: 30px;
	}
}


.header_after_log {
	background-color: #fff;
	.header__main {
		padding: 23px 0 21px;
		@include mxl() {
			padding: 15px 0 10px;
		}
		@include mmd() {
			padding: 10px 0 5px;
		}
	}
}
.header__lang {
	padding-left: 0;
}
.header_personal {
	padding-right: 0;
}