.indicator {
	position: relative;
	border-radius: 11px;
	background-color: #f9f9f9;
	border: solid 1px #dcdcdc;

	padding: 3px 10px;
	line-height: 1;
	display: inline-block;
	span {
		font-size: 10px;
		color: #b1b1b1;
		margin-left: 5px;
	}
}
.indicator__del {
	position: absolute;
	right: 0;
	top: 0;
	transform: rotate(45deg) translateX(0) translateY(-50%);

	width: 16px;
	height: 16px;
	border-radius: 50%;

	background-color: #ff0000;

	&:before, &:after {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		background-color: #fff;
	}
	&:before {
		width: 10px;
		height: 1px;
	}
	&:after {
		height: 10px;
		width: 1px;
	}
}



.indicator-clear {
	font-size: 14px;
	color: rgba(#323232, .5);
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}