.info {
	display: block;
	position: relative;
	padding-left: 20px;

	font-size: 14px;
	line-height: 1.43;
	color: #323232;
	&:hover {
		color: #323232;
	}
}
.info__fa {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);

	color: #969696;
}