.input, .textarea {
	width: 100%;
	padding: 10px 15px 9px;

	font-size: 16px;
	line-height: 1;
	color: #323232;


	border-radius: 1px;
	background-color: #ffffff;
	border: solid 1px #ebebeb;

	transition: linear .2s;
	@include iph() {
		font-size: 14px;
		line-height: 1;
		color: #7e7e7e;
	}
	&:focus, &:hover {
		color: #323232;
		// border-color: #f58634;
		box-shadow: 0 0 20px 1px rgba(#000, .1);
		outline: none;
	}
	&[disabled] {
		color: rgba(#323232, .6);
		background-color: #f9f9f9;
		border-color: #dcdcdc;
		&:hover {
			box-shadow: none;
		}
	}
}

.textarea {
	resize: none;
	min-height: 100px;
}



.input-wrap {
	position: relative;
}
.input-wrap_number {
	&:before {
		content: '';

		position: absolute;
		right: 30px;
		top: 50%;
		transform: translate(0, -50%);

		width: 1px;
		height: 27px;

		background-color: #dcdcdc;
	}
	&:after {
		content: '';

		position: absolute;
		top: 50%;
		right: 8px;
		transform: translate(0, -50%);
		height: 1px;
		width: 14px;

		background-color: #dcdcdc;
	}
}
.input-number {
	background-color: #f9f9f9;
	border: solid 1px #dcdcdc;
	padding: 10px 35px 10px 15px;
	-moz-appearance:textfield;
}
.input-wrap .input-number::-webkit-outer-spin-button,
.input-wrap .input-number::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- App
	arently some margin are still there even though it's hidden */
}
.input-wrap__arrow {
	position: absolute;
	top: 8px;
	right: 10px;

	width: 11px;
	height: 6px;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;

		border-bottom: 6px solid rgba(#000, .5);
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
	}
	&:after {
		content: '';

		position: absolute;
		margin-top: 1px;
		top: 0;
		left: 0;

		border-bottom: 6px solid #f9f9f9;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
	}
}

.input-wrap__arrow_minus {
	top: auto;
	bottom: 8px;
	right: 9px;
	transform: rotate(180deg);
}



.input-wrap__icon {

}
