.label-checkbox {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	line-height: 1.15;
	display: block;
}
.label-checkbox__pseudo-check {
	width: 18px;
	height: 18px;

	position: absolute;
	top: 0;
	left: 0;
	&:before, &:after {
		content: '';

		position: absolute;
		top: -1px;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: contain !important;
		transition: linear .1s;
	}

	&:before {
		background: url("../images/unselected.png") 50% 50% no-repeat;
	}
	&:after {
		background: url("../images/selected.png") 50% 50% no-repeat;
		opacity: 0;
		visibility: hidden;
	}
}
.label-checkbox__input {
	position: absolute;
	top: 0;
	left: -9999px;
	opacity: 0;
	visibility: hidden;
	&:checked {
		& + .label-checkbox__pseudo-check {
			&:before {
				opacity: 0;
				visibility: hidden;
			}
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.label-checkbox__txt {
}







.label-checkbox_color {
	padding-left: 0;
	@include effect-float();
	&:hover {
		transform: translate(0, -3px);
	}
	.label-checkbox__pseudo-check {
		width: 9px;
		height: 7px;
		left: auto;
		right: 0;
		&:before {
			display: none;
		}
		&:after {
			top: 0;
			background: url("../images/color-check.png") 50% 50% no-repeat;
		}
	}
}
.label-checkbox__color {
	width: 29px;
	height: 19px;
	display: block;
	border: 1px solid #ebebeb;

}
.label-checkbox_color_red {
	.label-checkbox__color {
		background-color: #ff0000;
	}
}
.label-checkbox_color_orange {
	.label-checkbox__color {
		background-color: #ff9400;
	}
}
.label-checkbox_color_yellow {
	.label-checkbox__color {
		background-color: #faff00;
	}
}
.label-checkbox_color_green {
	.label-checkbox__color {
		background-color: #00ff24;
	}
}
.label-checkbox_color_light-blue {
	.label-checkbox__color {
		background-color: #00d6ff;
	}
}
.label-checkbox_color_blue {
	.label-checkbox__color {
		background-color: #2b00ff;
	}
}
.label-checkbox_color_violet {
	.label-checkbox__color {
		background-color: #b800ff;
	}
}




.label-checkbox_pseudo_right {
	padding-left: 0;
	padding-right: 25px;
	.label-checkbox__pseudo-check {
		left: auto;
		right: 0;
	}
}




.label-checkbox_radio {
	.label-checkbox__pseudo-check {
		width: 12px;
		height: 12px;
		top: 3px;
		&:before {
			background: none;

			background-color: #f9f9f9;
  			border: solid 1px #dcdcdc;
  			border-radius: 50%;
		}
		&:after {
			background: none;

			width: 6px;
			height: 6px;
			background-color: #486ba3;
			border-radius: 50%;

			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin-top: -1px;
		}
	}
	.label-checkbox__input {
		&:checked {
			& + .label-checkbox__pseudo-check {
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.label-checkbox_remember {
	.label-checkbox__txt {
		
	}
}