.lang {
	position: relative;
	perspective: 400px;
	&.active {
		.lang__link {
			background-color: #f58634;
		}
		.lang__link-carret {
			transform: translateY(-50%) rotateX(180deg);
		}
		.lang__popup {
			opacity: 1;
			visibility: visible;
			transform: rotateX(0);
			li {
				transform: translate(0);
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.lang__link {
	position: relative;

	background-color: rgba(255, 255, 255, 0.06);
	border: solid 1px rgba(255, 255, 255, 0.26);


	text-transform: uppercase;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	font-weight: 300;
	padding: 14px 26px 12px 13px;
	transition: linear .2s;

	&:hover {
		// background-color: #f58634;
	}
	@include mxl() {
		padding-top: 9px;
		padding-bottom: 8px;
	}
}

.lang__link-carret {
	position: absolute;
	top: 50%;
	right: 7px;
	transform: translate(0, -50%);

	transition: linear .2s;
}

.lang__popup {
	padding: 10px 15px;
	position: absolute;
	top: 100%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	width: 80px;

	background-color: #f58634;

	transform-origin: 0 0;
	transform: rotateX(-90deg);
	transition: linear .2s;
	ul {
		@include list();
	}
	li {
		transform: translate(-10px, 0);
		transition: .2s linear .2s;
		opacity: 0;
		visibility: hidden;
		a {
			position: relative;
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 1;
			color: #fff;
			font-weight: 300;
			// @include forward();
			&:before {
				content: '';
				position: absolute;

				height: 1px;
				width: 100%;

				bottom: -3px;
				left: 0;
				transform: translate(10px, 0);

				background-color: #fff;

				opacity: 0;
				visibility: hidden;

				transition: .1s linear;
			}
			&:hover {
				&:before {
					opacity: 1;
					visibility: visible;
					transform: translate(0);
				}
				text-decoration: none;
			}
		}
	}
}

.lang_after_log {
	.lang__link {
		color: #323232;
		&:hover {
			// color: #fff;
			.lang__link-carret {
				&:before {
					// border-top-color: #fff;
				}
				&:after {
					// border-top-color: #f58634;
				}
			}
		}
	}
	&.active {
		.lang__link {
			color: #fff;
		}
		.lang__link-carret {
			&:before {
				border-top-color: #fff;
			}
			&:after {
				border-top-color: #f58634;
			}
		}
	}
}
