.menu-sub {
	@include lg() {
		padding-left: 27px;
		padding-right: 27px;
	}
	ul {
		@include list();
	}
	li {
		margin-bottom: 7px;
		a {
			display: inline-block;
			font-size: 14px;
			font-weight: 300;
			color: #fff;
			@include forward();
			span {
				position: relative;
				&:before {
					content: '';

					position: absolute;
					display: block;
					bottom: -2px;
					right: 0;
					width: 100%;
					height: 1px;

					background-color: #fff;

					opacity: 0;
					visibility: hidden;
					transform: translate(20px, 0);
					transition: .1s linear;
				}
			}
			&:hover {
				text-decoration: none;
				span {
					&:before {
						opacity: 1;
						visibility: visible;
						transform: translate(0);
					}
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}