.menu {
	ul {
		@include list();
		margin-left: -10px;
		margin-right: -10px;
		display: flex;
		flex-wrap: wrap;
	}
	li {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 10px;
	}
	a {
		display: inline-block;
		color: $text_fff;
		text-transform: uppercase;
		position: relative;
		&:hover {
			text-decoration: none;
		}
		@include md() {
			@include effect-float();
			&:before {
				content: '';

				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 1px;

				transform: translate(0, -5px);
				opacity: 0;
				visibility: hidden;

				background-color: #fff;

				transition: .1s linear;
			}
			&:hover {
				&:before {
					transform: translate(0, 2px);
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.menu_after_log {
	@include md() {
		padding: 18px 27px 17px;
		background-color: #2a569f;
	}
	ul {
		@include md() {
			justify-content: center;
			margin-left: -27px;
			margin-right: -27px;
		}
	}
	li {
		@include md() {
			padding-left: 22px;
			padding-right: 22px;
			margin-bottom: 0;
		}
	}
	a {
		@include md() {
			padding: 0 5px;
		}
	}
}

.menu_footer {
	@include lg() {
		padding-left: 27px;
		padding-right: 27px;
		ul {
			margin-left: -27px;
			margin-right: -27px;
		}
		li {
			padding-left: 27px;
			padding-right: 27px;
		}
	}
	@include mmd() {
		a {
			&:before {
				content: '';

				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;

				background-color: #fff;

				opacity: 0;
				visibility: hidden;
				transform: translate(0, 5px);
				transition: .1s linear;
			}
			&:hover {
				&:before {
					opacity: 1;
					visibility: visible;
					transform: translate(0);
				}
			}
		}
	}
}


.menu_mobile {
	@include mmd() {
		padding: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-color: rgba(#000, .5);

		opacity: 0;
		visibility: hidden;
		transform: translate(-50px, 0);
		transition: .2s linear;
		z-index: 99999;
	}
	ul {
		@include mmd() {
			display: block;
			height: 100%;
			background-color: #2a569f;
			width: 280px;
			padding: 50px 15px;

			opacity: 0;
			visibility: hidden;
			transform: translate(-50px, 0);
			transition: .2s linear .2s;
		}
	}
	li {
		@include mmd() {
			opacity: 0;
			visibility: hidden;
			transform: translate(-20px, 0);
			transition: .2s linear .3s;
			a {
				@include forward();
			}
		}
	}
	a {
		@include mmd() {
			&:before {
				content: '';

				position: absolute;
				display: block;
				bottom: -2px;
				right: 0;
				width: 100%;
				height: 1px;

				background-color: #fff;

				opacity: 0;
				visibility: hidden;
				transform: translate(15px, 0);
				transition: .1s linear;
			}
			&:hover {
				&:before {
					opacity: 1;
					visibility: visible;
					transform: translate(0);
				}
			}
		}
	}
	&.visible {
		@include mmd() {
			opacity: 1;
			visibility: visible;
			transform: translate(0);
			transition: .2s linear;
			ul {
				opacity: 1;
				visibility: visible;
				transform: translate(0);
				transition: .2s linear 0;
			}
			li {
				opacity: 1;
				visibility: visible;
				transform: translate(0);
				transition: .2s linear 0;
			}
			.menu__close {
				opacity: 1;
				visibility: visible;
				transform: rotate(45deg) translateX(0);
				transition: .2s linear 0;
			}
			
		}
	}
}
.menu__close {
	display: none;
	@include mmd() {
		display: block;

		opacity: 0;
		visibility: hidden;

		position: absolute;
		top: 20px;
		left: 230px;
		z-index: 2;
		transform: rotate(45deg);
		transition: .1s linear .4s;
	}
}