.nav-tabs {
	border: none;
	.nav-item {
		margin: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	.nav-link {
		position: relative;
		border: none;
		padding-left: 0;
		padding-right: 0;
		
		font-weight: 600;
		line-height: 1;
		color: #ccc;

		transition: .1s linear;
		&:before {
			content: '';

			position: absolute;
			bottom: -3px;
			left: 0;
			width: 100%;
			height: 2px;

			background-color: #ccc;

			opacity: 0;
			visibility: hidden;
			transform: translate(0, 5px);
			transition: .1s linear;
		}
		&:hover {
			border: none;
		}
		&.active {
			border: none;
			color: #323232;
			&:before {
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);
				
			}

		}
	}
}