.news-inside {
	padding: 40px 0 60px;
}
.news-inside__title {
	margin-bottom: 25px;
}


.news-inside-list {

}

.news-inside-box {

	max-width: 826px;
	@include xl() {
		background-color: #ffffff;
		border: solid 1px #ebebeb;
		
	}
}
.news-inside-box__left {
	@include msm() {
		margin-bottom: 20px;
	}
}
.news-inside-box__right {
	padding: 25px 35px 20px 48px;
	@include mxl() {
		padding-top: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
	@include msm() {
		padding-left: 0;
		padding-right: 0;
	}
}
.news-inside-box__content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 10px;
	}
	p {
		font-size: 14px;
		color: #7e7e7e;
		line-height: 18px;
		margin: 0 0 15px;
	}
}
.news-inside-box__back {
	color: #638ee6;
	font-size: 16px;
	line-height: 1;
}