.news-grid {
	margin-left: -15px;
	margin-right: -15px;
	// display: block;
	@include msm() {
		max-width: 260px;
		margin-left: auto;
		margin-right: auto;
	}
}
.news-grid__item {
	margin-bottom: 27px;
	@include msm() {
		padding-left: 0;
		padding-right: 0;
	}
}
.news-grid_items-align-end {
	.news-grid__item {
		@include xl() {
			&:nth-last-child(-n+4) {
				top: auto !important;
				bottom: 0;
			}
		}
	}
}