.news-box {
	position: relative;
	overflow: hidden;
	// min-height: 200px;

	transition: .2s linear;
	img {
		width: 100%;
		@include sm() {
			max-width: none;
			width: -webkit-calc(100% + 50px);
			width: calc(100% + 50px);
			opacity: 0.9;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: translate3d(-40px,0, 0);
			transform: translate3d(-40px,0,0);
			position: relative;
		}

		// min-height: 100%;
	}
	&:hover {
		box-shadow: 0 0 20px 1px rgba(#000, .5);
		.news-box__content {
			bottom: 0;
			margin-bottom: 0;
			transform: translate(0, 0);
		}
		img, h3, p {
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
		p {
			transition-duration: 0.35s
		}
		.news-box__hashs {
			opacity: 1;
			margin-bottom: 4px;
		}
	}
	@include mxl() {
		height: auto !important;
	}
}

.news-box__link {
	display: block;
}

.news-box__content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	// margin-top: -70px;
	margin-bottom: 70px;
	color: #fff;

	padding: 20px 17px;

	background-color: rgba(#000, .5);
	transform: translate(0, 100%);

	transition: 0.25s linear 0.05s;
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
	h3 {
		font-weight: 600;
		font-size: 16px;
		line-height: 1;
		margin-bottom: 0;

		height: 16px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		opacity: .7;

		transition: 0.35s linear;

		// -webkit-transform: translate3d(0,40px,0);
		// transform: translate3d(0,40px,0);

		// -webkit-transition: -webkit-transform 0.35s;
		// transition: transform 0.35s;
		a {
			font-size: 16px;
		}
	}
	a {
		color: #fff;
		font-size: 14px;
		&:hover, &:focus {
			color: #fff;
		}
	}
	p {
		opacity: 0;
		transition: opacity .2s linear .25s, transform .2s linear .25s;
		line-height: 21px;

		max-height: 169px;
		overflow: hidden;

		transform: translate3d(-40px,0,0);

		@include mlg() {
			font-size: 14px;
			line-height: 16px;

			max-height: 145px;
		}
	}
}
.news-box__hashs {
	margin-bottom: 15px;
	opacity: .8;
	transition: 0.35s linear;
	a {
		color: rgba(#fff, .34);
		font-size: 14px;
		font-weight: 300;
		&:hover {
			color: rgba(#fff, .34);
		}
	}
}