.nstSlider {
	position: relative;
}
.nstSlider_theme {
	height: 4px;
	background-color: #d8d8d8;
	border-radius: 3.5px;
	width: 100%;
	.nstSlider__bar {
		background-color: transparent;
		height: 1px;
		top: 50%;
		transform: translate(0, -50%);
	}
	.nstSlider__grip {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		width: 16px;
		height: 16px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.21);
		background-color: #ffffff;
		border: solid 1px #dcdcdc;
		border-radius: 50%;
		&:before {
			content: '';
			position: absolute;

			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;

			width: 8px;
			height: 8px;
			background-color: #486ba3;
		}
	}
}
.nstSlider__grip {
	
}
.nstSlider__label {
	position: absolute;
	top: 100%;
	margin-top: 12px;
	left: 50%;
	transform: translate(-50%, 0);

	font-size: 14px;
	color: rgba(#323232, .5);
	line-height: 1;
	&:before {
		content: '';

		width: 1px;
		height: 6px;

		background-color: rgba(#979797, .7);

		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 100%;
		margin-bottom: 2px;

	}
}