.owl-carousel_dots {
	.owl-dots {
		.owl-dot {
			span {
				width: 10px;
				height: 10px;
				margin-left: 10px;
				margin-right: 10px;
			
				border-radius: 50%;
			}
		}
	}
}

.owl-carousel_dots_white {
	.owl-dots {
		.owl-dot {
			span {
				background-color: transparent;
				border: 1px solid #fff;
			}
			&:hover {
				span {
					background-color: #fff;
				}
			}
			&.active {
				span {
					background-color: #fff;
				}
			}
		}
	}
}

.owl-carousel_items_flex {
	.owl-stage {
		display: flex;
	}
	.owl-item {
	}
}






