.pagination {
	padding-left: 3px;
	padding-right: 3px;
	ul {
		margin-left: -3px;
		margin-right: -3px;
	}
	li {
		padding-left: 3px;
		padding-right: 3px;
		margin-bottom: 6px;
		& > * {
			display: block;
			width: 30px;
			height: 30px;

			background-color: rgba(216, 216, 216, 0.5);
			border: solid 1px rgba(151, 151, 151, 0.18);

			font-size: 14px;
			color: rgba(#323232, .7);
			text-align: center;

			display: flex;
			align-items: center;
			justify-content: center;

			@include rectangleIn();
			&:hover {
				text-decoration: none;
				border-color: #2a569f;
			}
		}
		&.active {
			& > * {
				background-color: rgba(216, 216, 216, 0.3);
				color: rgba(#323232, .3);
			}
			& > span {
				border-color: rgba(151, 151, 151, 0.18);
				&:before {
					display: none;
				}
			}
		}
	}
}