.personal {
	// padding: 13px 22px 13px 18px;
	position: relative;
	perspective: 400px;
	&.active {
		.personal__name {
			background-color: #2a569f;
			color: #fff;
		}
		.personal__caret {
			transform: translateY(-50%) rotateX(180deg);
			&:before {
				border-top-color: #fff;
			}
			&:after {
				border-top-color: #2a569f;
			}
		}
		.personal__popup {
			opacity: 1;
			visibility: visible;
			transform: rotateX(0);
			ul {

			}
			li {
				opacity: 1;
				visibility: visible;
				transform: translate(0);
				a {
				}
			}
		}
		.personal__meneger-title {
			transform: translate(0);
			opacity: 1;
			visibility: visible;
		}
		.personal__meneger-name {
			transform: translate(0);
			opacity: 1;
			visibility: visible;
		}
		.personal__meneger-link {
			transform: translate(0);
			opacity: 1;
			visibility: visible;

		}
	}
}
.personal__name {
	padding: 13px 33px 13px 18px;
	position: relative;

	color: #323232;
	font-weight: 600;
	transition: linear .2s;
	@include mxl() {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
.personal__caret {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translate(0, -50%);
	margin-right: -3px;
}
.personal__popup {
	position: absolute;
	left: 0;
	top: 100%;

	background-color: $backgroud_blue;

	opacity: 0;
	visibility: hidden;

	transition: linear .2s;
	transform-origin: 50% 0;
	transform: rotateX(-90deg);
	width: 255px;
	ul {
		@include list();
		padding: 10px 20px 25px;
	}
	li {
		margin-bottom: 10px;
		opacity: 0;
		visibility: hidden;

		transition: .2s linear .2s;
		transform: translate(-10px, 0);
		&:last-child {
			margin-bottom: 0;
		}
		a {
			// display: block;
			color: #fff;
			position: relative;

			&:before {
				content: '';

				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;

				border-bottom: 1px solid rgba(255, 255, 255, 0.55);
				margin-top: 3px;

				transition: linear .1s;
			}
			&:hover {
				color: #fff;
				text-decoration: none;
				&:before {
					transform: translate(0, 3px);
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}
}
.personal__meneger {
	color: #fff;
	font-size: 14px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.35);
	padding: 20px 10px 26px;
}
.personal__meneger-title {
	font-weight: 300;
	text-align: center;
	margin-bottom: 8px;

	opacity: 0;
	visibility: hidden;
	transition: .2s linear .4s;
	transform: translate(-20px, 0);
}
.personal__meneger-name {
	font-weight: 600;
	text-align: center;
	margin-bottom: 8px;

	opacity: 0;
	visibility: hidden;
	transition: .2s linear .5s;
	transform: translate(-20px, 0);
}
.personal__meneger-link-wrap {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.personal__meneger-link {
	text-align: left;
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 2px;

	position: relative;
	padding-left: 15px;

	opacity: 0;
	visibility: hidden;
	transition: .2s linear .6s;
	transform: translate(-20px, 0);
	.fa {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);

		font-size: 9px;

		transition: linear .2s;
	}
	.fa-mobile {
		left: 2px;
		font-size: 13px;
		transition: linear .1s;
	}
	&:hover {
		color: #fff;
		.fa-envelope {
			transform: translate(-10px, -50%);
			opacity: 0;
			visibility: hidden;
		}
		.fa-mobile {
			transform: translateY(-50%) scale(1.2);
		}
	}
}
