.popup-form {
	// max-width: 348px;
	padding: 10px 25px 0;
	line-height: 1;
	@include msm() {
		padding: 0;
	}
}
.popup-form__title {
	margin-bottom: 25px;
}


.popup-form__fields {

}
.popup-form__field {
	margin-bottom: 21px;
}
.popup-form__input {
	padding: 10px 40px 9px 72px;
	&:focus {
		& + .popup-form__icon_wrap {
			.icon-svg {
				transform: translateX(-50%) translateY(-50%) scale(1.2);
			}
			// background-size: 20px 20px;
		}
	}
}
.popup-form__fields-foot {

}
.popup-form__fields-foot__in {
	margin-bottom: 15px;
}


.popup-form__checkbox {
	padding-left: 30px;
}
.popup-form__checkbox-input {
}
.popup-form__checkbox-pseudo {
	top: 2px;
}
.popup-form__checkbox-txt {
	font-size: 14px;
	color: #7e7e7e;
}
.popup-form__not-reg {
	font-size: 14px;
	line-height: 1.29;
	color: #5d8ffc;
	&:hover {
		color: #5d8ffc;
	}
}
.popup-form__forget-pass {
	font-size: 14px;
	color: #7e7e7e;
	&:hover {
		color: #7e7e7e;
	}
}

.popup-form__icon_wrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 52px;
	border-right: 1px solid #ebebeb;
}
.popup-form__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.popup-form__btn {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 0;
	height: 100%;
	width: 40px;
	.popup-form__icon {
		width: 100%;
	}
}