.preview-good {
	display: block;
	border: 1px solid #dcdcdc;
	background-color: transparent;
	height: 194px;
	// overflow: hidden;

	background-repeat: no-repeat;

	padding: 0 16px 0 11px;
	position: relative;
	margin-bottom: 25px;

	@include left-side-3d();
	transition: .2s linear;
	&:hover {
		box-shadow: 0 0 50px 2px rgba(#000, .1);
		.preview-good__img {
			// transform: translate(0);
		}
	}
}
.preview-good__img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: .2s linear;
	background-size: cover;
	background-position: 100% 50%;


}

.preview-good__content {
	position: absolute;
	top: 108px;
	left: 22px;
	right: 20px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
	h3 {
		color: #373737;
	}
	p {
		margin: 0;
	}
	@include mxl() {
		left: 10px;
		right: 10px;
	}
}