// .preview {
// 	padding: 70px 0 60px;
// 	h1,
// 	h2,
// 	h3,
// 	h4,
// 	h5,
// 	h6 {
// 		margin-bottom: 30px;
// 	}
// 	h4 {
// 		font-size: 20px;
// 		font-weight: 700;
// 		color: #373737;
// 	}
// }