.preview-news-box {
	padding: 40px;
	background-color: #fff;
	@include mmd() {
		padding: 20px;
	}
}

.preview-news-box__content {
	div {
		margin-bottom: 10px;
	}
	p {
		font-size: 14px;
		color: #7e7e7e;
		margin-bottom: 20px;
	}
}