.preview-good-catalog {
	border: solid 1px #ebebeb;
	position: relative;
	transition: linear .2s;
	overflow: hidden;
	&:hover {
		box-shadow: 0 0 30px 2px rgba(#000, .1);
		color: #323232;
		.preview-good-catalog__img {
			transform: translate(0);
		}
		.preview-good-catalog__body {
			border-radius: 0;
		}
	}

	@include mmd() {
		// background-color: #f9f9f9;
		// .preview-good-catalog__img {
		// 	max-width: 219px;
		// 	flex: 0 0 219px;
		// }
		// .preview-good-catalog__body {
		// 	display: flex;
		// 	flex-direction: column;
		// 	flex: 1 1 auto;
		// 	padding: 20px 25px 23px 15px;
		// }
		// .preview-good-catalog__colors {
		// 	margin-top: auto;
		// }
		// .preview-good-catalog__favour {
		// 	top: 20px;
		// 	right: 26px;

		// 	transition-delay: time;
		// }
	}
}
.preview-good-catalog_in-line {
	background-color: #f9f9f9;
	.preview-good-catalog__img {
		max-width: 219px;
		flex: 0 0 219px;
	}
	.preview-good-catalog__body {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		padding: 20px 25px 23px 15px;
	}
	.preview-good-catalog__colors {
		margin-top: auto;
	}
	.preview-good-catalog__favour {
		top: 20px;
		right: 26px;

		transition-delay: time;
	}
	@include msm() {
		.preview-good-catalog__img {
			max-width: 140px;
			flex: 0 0 140px;
		}
		.preview-good-catalog__body {
			padding: 30px 10px 10px;
		}
		.preview-good-catalog__favour {
			top: 8px;
			right: 8px;
		}
	}
}
.preview-good-catalog__img {
	width: calc(100% + 10px);
	// flex-basis: calc(100% + 10px);
	height: 178px;
	margin-bottom: 10px;
	transform: translate(-10px, 0);
	transition: linear .2s;
	padding: 0;
}
.preview-good-catalog__body {
	display: block;
	position: relative;
	padding: 10px 20px;
	background-color: #f9f9f9;
	border-radius: 7px;
	&:before {
		// content: '';

		// position: absolute;
		// bottom: -7px;
		// left: -15px;
		// right: -10px;

		// height: calc(100% + 10px);

		// z-index: -1;
	}
	&:hover {
		text-decoration: none;
		color: #323232;
	}
	@include msm() {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.preview-good-catalog__index {
	color: #638ee6;
}
.preview-good-catalog__title {
	font-weight: 600;
	margin-bottom: 15px;
	padding-right: 15px;
	@include msm() {
		padding-right: 0;
	}
}

.preview-good-catalog__favour {

	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
	width: 19px;
	height: 17px;
	border-radius: 50%;
	@include bounce-in();
	z-index: 2;
	.icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.icon_favour {
		will-change: transform;
	}
	.icon_favour_red {
		opacity: 0;
		visibility: hidden;
	}
	&:hover {
	}
	&.active {
		.icon_favour {
			opacity: 0;
			visibility: hidden;
		}
		.icon_favour_red {
			opacity: 1;
			visibility: visible;

			// animation-name: pulse-favour;
			// animation-duration: 3s;
			// animation-iteration-count: infinite;
		}
		&:hover {
			transform: none;
		}
	}
}