.product-descr {
	padding: 26px 35px;
	background-color: #f9f9f9;
	border: solid 1px #dcdcdc;
	@include msm() {
		padding: 15px 20px;
	}
}
.product-descr__content {
	padding-bottom: 35px;
	border-bottom: solid 1px rgba(151, 151, 151, 0.14);
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 10px;
	}
	div {
		margin-bottom: 10px;
	}
	p {
		font-size: 14px;
		color: #7e7e7e;
	}
}
.product-descr__number {
	width: 140px;
}

.product-descr__title {
	// margin: 0 0 10px;
}

.product-descr__toggle {
	background-color: #f9f9f9;
	border: solid 1px #dcdcdc;
	padding: 0 25px 0 35px;
	.toggle-box__head {
		border-bottom: 1px solid #dcdcdc;
		padding-top: 12px;
		padding-bottom: 13px;
		transition: .2s linear;
		padding-right: 15px;
	}
	.toggle-box__caret {
		color: #000;
	}
	.toggle-box__body {
		padding-bottom: 20px;
	}
	&.active {
		.toggle-box__head {
			border-bottom-color: transparent;
		}
	}
	@include msm() {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.product-descr__table-wrap {
	overflow: auto;
}