.product-main {

}

.product-main__icon {
	position: absolute;
	top: 0;
	right: 15px;
	z-index: 15;
}


.product-img-front {
	height: 450px;
	@include mmd() {
		height: 350px;
	}
	@include msm() {
		height: 250px;
	}
	img {
		// width: 100%;
		// height: 100%;
		max-height: 100%;
	}
}

.product-slider-thumb {
	padding: 0 30px;
	.owl-stage {
		padding: 25px 0;
		display: flex;
	}
	.owl-item {
		transition: .2s linear;
		&:before {
			content: '';

			position: absolute;
			bottom: -5px;
			left: 50%;
			width: 50%;
			height: 1px;

			background-color: #898989;

			transition: .2s linear;
			opacity: 0;
			visibility: hidden;
			transform: translate(-50%, 3px);
		}
		a {
			height: 100%;
			background-color: transparent;
			padding: 0;
			border: none;
			transition: .2s linear;
			&.item-active {
				transform: scale(1.3, 1.3);
			}
		}
		img {
			height: 100%;
		}
		&.center {
			transform: scale(1.3, 1.3);
			position: relative;
			&:before {
				opacity: 1;
				visibility: visible;
				transform: translate(-50%, 0);
			}
		}
	}
}

.product-slider-nav {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 0;
	transform: translate(0, -50%);
	margin-top: -9px;
	z-index: 2;

	display: flex;
	justify-content: space-between;
	button {
		display: block;
		background-color: transparent;
		padding: 0;
		border: none;
		color: #898989;

		transition: .2s linear;
		&:focus {
			outline: none;
		}
	}
	.owl-prev {
		&:hover {
			.icon-svg_chevron {
				transform: translate(-2px, 0);
			}
		}
	}
	.owl-next {
		.icon-svg_chevron {
			transform: rotate(180deg);
		}
		&:hover {
			.icon-svg_chevron {
				transform: rotate(180deg) translateX(-2px);
			}
		}
	}
}