.product-customization-box {

}
.product-customization__title {
	margin-bottom: 25px;
}
.product-customization-box__img {
	max-width: 190px;
	height: 190px;
	border: 1px solid #d6d6d6;
	margin-bottom: 11px;
	img {
		height: 100%;
		width: 100%;
	}
}
.product-customization-box__content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 5px;
	}
	h4 {
		font-weight: 600;
		font-size: 16px;
		line-height: 1;
		color: #274b8f;
	}
	p {
		font-size: 14px;
		color: #7e7e7e;
		line-height: 1.43;
	}
}