
.product-descr-table {
	width: 100%;
	th {
		padding-left: 23px;
		padding-right: 23px;
		padding-bottom: 4px;

		font-size: 12px;
		font-weight: 400;
		color: #638ee6;
	}
	td {
		padding: 12px 23px;
		font-size: 12px;
		color: #7e7e7e;
		background-color: #ffffff;
		border: 1px solid #ebebeb;
		&:first-child {
			line-height: 1;
			color: #323232;
		}
		&:last-child {
		}
		@include mxl() {
			padding-left: 10px;
			padding-right: 10px;
		}
		@include mlg() {
			padding-left: 23px;
			padding-right: 23px;
		}
	}
	@include mmd() {
		width: 618px;
	}
}

.product-descr-table__buy {
	margin-left: 6px;
	margin-right: 6px;
	font-size: 17px;
}

.product-descr-table__color {
	margin-right: 7px;
}
.product-descr-table__number {
	max-width: 140px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #fff;
	font-size: 12px;
	color: #7e7e7e;
	&:hover {
		color: #7e7e7e;
	}
}
.product-descr-table__color {
	&:hover {
		transform: none;
		cursor: text;
	}
}