.queries-table {
	text-align: center;
	width: 100%;
	@include mlg() {
		font-size: 14px;
	}
	@include mmd() {
		width: 690px;
	}
	& > thead {
		border-bottom: 1px solid rgba(151, 151, 151, 0.14);
		th {
			font-weight: 600;
			line-height: 1.15;
			padding: 10px 18px;
			span {
				display: inline-block;
				vertical-align: middle;
				margin-left: 6px;
				line-height: 1;
			}
			@include mmd() {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
	& > tbody {
		& > tr {
			& + tr {
			}
			&:nth-child(2n) {
				.queries-table__detail {
					display: none;
				}
			}
			&:nth-child(4n-1) {
				background-color: #f9f9f9;
				& + tr {
					background-color: #f9f9f9;
				}
				
			}
			&.hidden {

			}
			& > td {
				padding: 24px 18px;
				&[colspan="5"] {
					padding: 0;
				}
				
				@include mmd() {
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		}
		
	}
}

.queries-table__button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	
	margin-left: auto;
	margin-right: auto;
}

.queries-table__button_cart {
	width: 35px;
	height: 35px;
	.fa {
		font-size: 17px;
	}
}


.queries-table__button_more {
	width: 46px;
	height: 35px;
	.fa {
		font-size: 20px;
	}
}



.queries-table__detail {

	padding-top: 11px;
	padding-bottom: 34px;
	@include mxl() {
		padding-left: 0;
		padding-right: 0;
	}
}


.queries-table__detail-in {
	background-color: #fff;
	border: 1px solid #ebebeb;

	padding-left: 33px;
	padding-right: 33px;
	
	max-width: 1001px;
	margin-left: auto;
	margin-right: auto;
	@include mxl() {
		max-width: 810px;
	}
	@include mlg() {
		max-width: 640px;
	}
	@include mmd() {
		padding-left: 10px;
		padding-right: 10px;
		
	}
}