.queries-description {
	position: relative;
	padding-left: 20px;
}
.queries-description_table {
	width: 11px;
	height: 11px;
	padding-left: 0;
	display: inline-block;
}
.queries-description__circle {
	width: 11px;
	height: 11px;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 0;

	transform: translate(0, -50%);
}
.queries-description__circle_center {
	left: 50%;
	transform: translate(-50%, -50%);
}
.queries-description__circle_green-dark {
	background-color: #52b0b1;
}
.queries-description__circle_yellow {
	background-color: #f5c243;
}
.queries-description__circle_green {
	background-color: #5baf33;
}
.queries-description__circle_red {
	background-color: #d14545;
}