.queries-table-detail {
	width: 100%;
	text-align: left;
	thead {
	}
	tr {
		&:last-child {
			td {
				padding-bottom: 31px;
			}
		}
	}
	th {
		font-weight: 600;
		padding: 15px 18px 18px;
		position: relative;
		border-bottom: 1px solid rgba(151, 151, 151, 0.14);
		@include mmd() {
			padding-left: 10px;
			padding-right: 10px;
		}
		&:before {
			// content: '';

			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			border-bottom: 1px solid rgba(151, 151, 151, 0.14);
		}
		&:first-child {
			&:before {
				left: 0;
			}
		}
		&:last-child {
			&:before {
				right: 0;
			}
		}
	}
	td {
		padding: 15px 18px 5px;
		@include mmd() {
			padding-left: 10px;
			padding-right: 10px;
		}
		&:first-child {
		}
		&:last-child {
		}
	}
}