.queries {
	padding: 50px 0 60px;
}
.queries__main-title {
	margin-bottom: 80px;
	@include mmd() {
		margin-bottom: 40px;
	}
}
.queries__sort {
	margin-bottom: 46px;
}
.queries__table-wrap {
	overflow-x: auto;
}