.registration {
	padding: 60px 0 80px;
	@include mmd() {
		padding: 30px 0 40px;
	}
}
.registration__title {
	margin-bottom: 35px;
}

.registration_personal {
	
}
.registration__result-submit {
	max-width: 975px;
}
.registration__succes {
	background-color: #36af58;
	color: #fff;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10px;
}
.registration__fail {
	background-color: red;
	color: #fff;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10px;
}