.registration-form {
	padding: 60px 65px;
	background-color: #f9f9f9;
	max-width: 975px;
	@include mmd() {
		padding: 20px 25px;
	}
}
.registration-form__top {
	margin-bottom: 5px;
}
.registration-form__description {
	font-size: 14px;
	color: #7e7e7e; 
	span {
		color: #ee2121;
		font-size: 16px;
	}
}

.registration-form__login-fields {
	margin-bottom: 25px;
}
.registration-form__field {

}
.registration-form__field-name {
	display: block;
}
.registration-form__field-input {

}
.registration-form__foot {
	margin-top: 25px;
}
.registration-form__submit {
	max-width: 300px;
	width: 100%;
	&:hover {
		animation-name: pulse;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}
}


.registration-form_personal {
	background-color: transparent;
	padding: 0;

}
.registration-form__top_personal {
	padding: 25px 64px 5px;
	background-color: #f9f9f9;
	position: relative;
	margin-bottom: 40px;
	@include mmd() {
		padding: 15px 25px 0;
	}
}
.registration-form__login-fields_personal, .registration-form__profile-fields_personal {
	padding-left: 64px;
	padding-right: 64px;
}
.registration-form__warning {
	color: #ee2121;
}