.search-form {
	position: relative;
	&:hover {

	}
}
.search-form__input {
	padding-right: 45px;
	&:hover {
		box-shadow: 0 0 30px 2px rgba(#000, .1);
		
	}
	&:focus {
		box-shadow: 0 0 30px 2px rgba(#000, .1);
		& + .search-form__button {
			.search-form__icon {
				@include search-effect-call();
			}
		}
	}
}
.search-form__button {
	position: absolute;
	display: block;
	top: 50%;
	right: 33px;
	transform: translate(0, -50%);

	display: block;
	transition: linear .2s;
	&:hover {
		.search-form__icon {
		}
	}
}
.search-form__icon {
	transition: .2s linear;
	transform-origin: 100% 100%;
}


.search-form_header {
	@include mlg() {
		position: absolute;
		top: 100%;
		right: 30px;
		margin-top: 90px;
		width: 30%;
		.search-form__input {
			width: 0;
			opacity: 0;
			visibility: hidden;
			padding: 14px 0;
			border-left: none;
			border-right: none;
			border-top: none;
			transition: .2s linear;

			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			&:focus, &:hover {
				// box-shadow: none;
			}
		}
		.search-form__button {
			right: 15px;
			background-color: rgba(#fff, .5);
			border-radius: 50%;
			padding: 10px;
		}
		&.active {
			.search-form__input {
				width: 100%;
				padding: 14px 45px 14px 15px;
				opacity: 1;
				visibility: visible;
				background-color: rgba(#fff, .9);
				border-radius: 30px;
			}
			.search-form__button {
				background-color: transparent;
			}
		}
		&:hover, &:focus {
			.search-form__input {
				// box-shadow: none;
			}
		}
	}
	@include mmd() {
		margin-top: 35px;
		right: 70px;
		width: 50%;
		.search-form__button {
			right: 5px;
		}
		&.active {
			.search-form__input {
			}
			.search-form__button {
				// background-color: transparent;
			}
		}
	}
	@include msm() {
		width: auto;
		left: 15px;
	}
}




