.select-multiple {
	width: 100%;
	& + .btn-group {
		line-height: 1;
		width: 100%;
		margin-bottom: 6px;
		transition: .2s linear;
		&:focus {
			outline: none;
		}
		.btn:focus, .btn.focus {
			box-shadow: none !important;
		}
		.multiselect {
			width: 100%;
			border: 1px solid #ebebeb;
			border-radius: 1px;
			padding: 12px 55px 12px 19px;

			text-align: left;

			background-color: #fff;
			line-height: 1;
			&:after {
				display: none;
			}
		}
		.multiselect-filter {
			position: absolute;
			top: 10px;
			left: 22px;
			right: 20px;
			z-index: 10;
		}
		.select-multiple__container {
			width: 100%;
			border-radius: 1px;
			background-color: #ffffff !important;
			border: solid 1px #ebebeb;
			padding: 0;
			border-top-color: transparent !important;
			margin-top: -2px;
			// transform: translate3d(0, 0, 0) !important;
			&.show {
				box-shadow: 0 0 20px 1px rgba(#000, .1);
			}
			&.animated {
				animation-duration: .2s;
			}
			&[x-placement="top-start"] {
				border-top-color: #ebebeb !important;
			}
		}
		.select-multiple__container li a label.checkbox, .select-multiple__container li a label.radio {
			font-size: 16px;
			font-weight: 400;
			font-family: $mont;
			line-height: 1;
			color: #323232;
		}
		.select-multiple__container li a label.checkbox {
			&:after {
				content: '';
			}
			input {
				position: absolute;
				top: 0;
				left: -9999px;

				opacity: 0;
				visibility: hidden;
				&:checked {
					& + &:after {

					}
				}
			}
		}
		.multiselect-selected-text {
			font-size: 14px;
			color: rgba(#323232, .5);
			font-family: $mont;
			font-weight: 400;
			line-height: 1;
			display: block;

			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			padding-right: 25px;
		}
		.caret {
			width: 52px;
			height: 100%;
			border-radius: 1px;
			border-left: solid 1px #e0e3e5;

			position: absolute;
			top: 0;
			right: 0;
			&:after {
				border-top: 8px solid #000;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
			}
			&:before {
				content: '';

				position: absolute;
				top: auto;
				bottom: 0;
				left: 0;
				transform: none;
				width: 100%;
				height: 1px;

				border: none;

				background-color: #ebebeb;
				opacity: 0;
				visibility: hidden;
				transition: linear .1s;
			}
		}
		.multiselect-clear-filter {
			display: block;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translate(0, -50%) rotate(45deg);

			background-color: transparent;
			z-index: 3;
			&:before, &:after {
				content: '';

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);


				background-color: rgba(#323232, .5);
			}
			&:before {
				width: 10px;
				height: 1px;
			}
			&:after {
				width: 1px;
				height: 10px;
			}
		}
		&.show {
			.caret {
				&:before {
					opacity: 1;
					visibility: visible;
				}
				&:after {
					transform: translateX(-50%) translateY(-50%) rotateX(180deg);
				}
			}
		}
		&:hover {
			box-shadow: 0 0 20px 1px rgba(#000, .1);
		}
	}
}





.select-multiple__item {
	position: relative;
	display: block;
	a {
		padding: 8px 0;
		color: #323232;
		display: block;
		&:hover {
			color: #323232;
			text-decoration: none;
		}
	}
	.input-group {
		margin: 0;
	}
	&:first-child {
	}
}
.select-multiple__icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translate(0, -50%);
	z-index: 9999;

	width: 17px;
	height: 17px;
}
.select-multiple__search-input {
	width: 100%;
	background-color: #fff !important;

	font-size: 16px;
	color: #323232;
	line-height: 1;
	padding: 10px 25px 9px 44px;
	@include iph() {
		font-size: 16px;
		color: #323232;
	}
	& + .input-group-btn {
	}
	&:focus, &:hover {
		outline: none !important;
		border-color: #ebebeb;
	}
}
.select-multiple__scroll {
	max-height: 270px;
	padding: 10px 0 10px;
	.mCSB_container {
		padding-left: 20px;
		padding-right: 0;
		padding-top: 50px;
	}
	.mCSB_scrollTools .mCSB_draggerRail {
		background-color: #f0f0f0;
		width: 5px;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background-color: #c9c1c1;
		border-radius: 0;
		width: 5px;
	}
}











.multiselect-checkbox {
	input {
		position: absolute;
		top: 0;
		left: -99999px;

		opacity: 0;
		visibility: hidden;
		&:checked {
			& + .multiselect-checkbox__label {
				&:before {
					opacity: 0;
					visibility: hidden;
				}
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.multiselect-checkbox__label {
	display: block;
	position: relative;
	cursor: pointer;
	padding-left: 44px;
	margin-bottom: 0;

	// font-size: 16px;
	// line-height: 1;
	// color: #323232;
	&:before, &:after {
		content: '';

		position: absolute;
		top: -2px;
		left: 9px;
		
		width: 18px;
		height: 18px;

		opacity: 0;
		visibility: hidden;

		transition: linear .2s;
		background-size: contain !important;
	}
	&:before {
		opacity: 1;
		visibility: visible;
		background: url("../images/unselected.png") 50% 50% no-repeat;
	}
	&:after {
		background: url("../images/selected.png") 50% 50% no-repeat;
	}
}

span.multiselect-native-select {
	display: block;
}




