.select {
	border-radius: 1px;
	background-color: #ffffff;
	border: solid 1px #ebebeb;


	height: auto;
	min-height: auto;
	line-height: 1;
	padding: 11px 78px 12px 24px;
	&:after {
		border-top: 8px solid #000;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: none;
		height: auto;
		min-height: auto;
		width: auto;
		margin: 0;


		transform-origin: 50% 50%;
		transform: translateY(-50%);
		right: 20px;

	}
	&:before {
		content: '';

		position: absolute;
		top: 0;
		right: 50px;
		width: 1px;
		height: 100%;

		background-color: #ebebeb;

	}
	.current {
		font-size: 14px;
		line-height: 1;
		color: #7e7e7e;
		font-family: $mont;
		font-weight: 400;

		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	ul {
		padding-left: 0;
		list-style: none;
	}
	.list {
		left: -1px;
		right: -1px;
		border-radius: 1px;
		margin-top: -1px;
		border: 1px solid #ebebeb;
		// border-top-color: transparent;
		box-shadow: none;
		&:hover {
			.option {
				&:not(:hover) {
					color: #323232;
					
				}
			}
		}
	}
	.option {
		font-size: 16px;
		color: #323232;
		font-weight: 400;
		line-height: 1;
		height: auto;
		min-height: auto;
		padding: 12px 10px;
		&:hover, &.focus, &.selected.focus {
			background-color: #2a569f;
			color: #fff;
		}
		&:hover {
			// background-color: #2a569f;
		}
	}
	&:active, &.open, &:focus {
		border-color: #ebebeb;
	}
	.select__scroll {
		max-height: 200px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.mCSB_container {
		margin-right: 15px;
	}
	.mCSB_scrollTools .mCSB_draggerRail {
		background-color: #f0f0f0;
		width: 5px;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background-color: #c9c1c1;
		border-radius: 0;
		width: 5px;
	}
	&:hover {
		box-shadow: 0 0 30px 2px rgba(#000, .1);
	}
	&.open {
		&:after {
			transform: translateY(-50%) rotateX(180deg);
		}
	}
	&:focus {
		border-color: #ebebeb;
	}
}