.toggle-box {
	// padding-bottom: 14px;
	// border-bottom: 1px solid rgba(151, 151, 151, 0.14);
	margin-bottom: 20px;
	&.hidden {
		.toggle-box__body {
			display: none;
		}
	}
}
.toggle-box__head {
	font-weight: 600;
	position: relative;
}
.toggle-box__caret {
	display: block;
	color: rgba(#606060, .5);
	position: absolute;
	top: 50%;
	right: -5px;
	transform: translateY(-50%) rotateX(180deg);
	font-size: 14px;

	cursor: pointer;
	padding: 5px;
	transition: linear .2s;
}
.toggle-box__body {
	// display: none;
	padding-top: 13px;
}
.toggle-box {
	&.active {
		.toggle-box__caret {
			transform: translateY(-50%) rotateX(0);
		}
	}
}
.toggle-box__nst {
	margin-bottom: 50px;
	margin-top: 6px;
}
.toggle-box__input-wrap {
	flex: 0 0 139px;
	max-width: 139px;
}
.toggle-box__number-btn {
	flex: 0 0 48px;
	max-width: 48px;

	text-transform: uppercase;

	background-color: #cbcbcb;
	border-color: #cbcbcb;
	border-radius: 0;
	margin-left: 14px;
	margin-right: 14px;
	@include button_effect();
	&:before {
		background-color: #2a569f;
	}
	&:hover {
		border-color: transparent;
		color: #fff;
		&:before {

		}
	}
}