.under-header-ban {
	min-height: 387px;
	padding: 237px 0 85px;

	background-position: 50% 95%;
	background-repeat: no-repeat;
	background-size: cover;
	@include mmd() {
		padding-bottom: 50px;
		min-height: auto;
	}
	// @include msm() {
	// 	padding-top: 150px;
	// }
}

.under-header-ban_favourites {
	// padding-top: 260px;
}
.under-header-ban_size_small {
	min-height: 200px;
	padding-top: 80px;
}
.under-header-ban_size_medium {
	min-height: 300px;
	padding-top: 150px;
}