.zoomImage {

}

.zoomImage-gallery {
	transition: .2s linear;
	&.xactive {
		box-shadow: none;
		border: none;

		transform: scale(1.2, 1.2);
	}
}

.xzoom-preview {
	background-color: #fff !important;
}