.applications {
	padding: 40px 0 75px;
}

.applications__toggle {
	background-color: #f9f9f9;
	border: solid 1px #dcdcdc;

	padding: 11px 20px 13px 27px;
	margin-bottom: 0;
	// height: 100%;
	@include mxl() {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.applications__toggle-head {
	padding-right: 20px;
	line-height: 1.15;
}
.applications__toggle-body {
	padding-top: 31px;
	// display: none;
	@include msm() {
		padding-top: 10px;
	}
}
.applications__price {
	color: #638ee6;
	margin-bottom: 20px;
	@include msm() {
		margin-bottom: 0;
	}
}
.applications__tables {

}
.applications__tables-col {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 20px;
	}
	@include mlg() {
		max-width: 100%;
		flex-basis: 100%;
		margin-bottom: 0;
	}
}
.applications__table {
	max-width: 165px;
	@include mxl() {
		max-width: 130px;
	}
	@include mlg() {
		max-width: none;
	}
}
.applications__table_width_medium {
	max-width: 244px;
	// @include mxl() {
	// 	max-width: 240px;
	// }
	@include mlg() {
		max-width: none;
	}
}