<footer class="footer  col-auto">
	<div class="container">
		<div class="row flex-sm-nowrap justify-content-center  justify-content-sm-between">
			<div class="footer__info  paddings  margin-b-20  flex-grow-0  flex-shrink-0  order-1">
				<a href="#" class="logo  logo_footer  img-wrap  logo_effect">
					<img src="images/logo-white.png" alt="">
				</a>
				<div class="footer__copy">&copy; 2018, <br> OOO «Promostock»</div>
				<a href="#" class="developer">Разработано <br> <span>CREDO</span> Studio</a>
			</div>
			<div class="footer__menus  paddings   margin-b-20  order-3 order-sm-2">
				<div class="menu  menu_footer">
					<ul class="justify-content-center  justify-content-sm-start">
						<li><a href="index.html">Главная</a></li>
						<li><a href="catalog.html">Каталог</a></li>
						<li><a href="applications.html">Виды нанесения</a></li>
						<li><a href="contacts.html">Контакты</a></li>
					</ul>
				</div>
				<div class="menu-sub">
					<ul class="text-center  text-sm-left">
						<li><a href="#"><span>О нас</span></a></li>
						<li><a href="#"><span>Наша команда</span></a></li>
						<li><a href="#"><span>Наши ценности</span></a></li>
						<li><a href="#"><span>Новости</span></a></li>
					</ul>
				</div>
			</div>
			<div class="footer__buttons  paddings margin-b-20  flex-grow-0  flex-shrink-0  order-2  order-sm-3">
				<a href="#" class="footer__button  button button_blue button_bounce-in">
					<span class="button__inner">Войти</span>
				</a>
				<a href="#" class="footer__button  button button_orange button_bounce-in">
					<span class="button__inner">Регистрация</span>
				</a>
			</div>
		</div>
	</div>
</footer>