<header class="header">
	<div class="header__main">
		<div class="container">
			<div class="row flex-lg-nowrap  align-items-center justify-content-center  justify-content-xl-between">
				<button type="button" class="header__hamburger  hamburger  button-clear"><i class="fa fa-bars" aria-hidden="true"></i></button>
				<div class="paddings  flex-shrink-0 flex-grow-0">
					<a href="#" class="logo  logo_header  img-wrap  logo_effect  margin-b-10">
						<img src="images/logo-white.png" alt="">
					</a>
				</div>
				<div class="header__menu  menu  menu_mobile  paddings">
					<button type="button" class="menu__close  close  button-clear"></button>
					<ul>
						<li><a href="index.html">Главная</a></li>
						<li><a href="catalog.html">Каталог</a></li>
						<li><a href="applications.html">Виды нанесения</a></li>
						<li><a href="contacts.html">Контакты</a></li>
					</ul>
				</div>
				<div class="paddings  flex-shrink-0 flex-grow-0">
					<div class="row  align-items-center">
						<div class="paddings">
							<a href="#" class="button-login button button_width button_blue button_effect_orange  margin-b-10" data-fancybox="" data-src="#login" data-modal="true">
								<span class="button__inner">Войти</span>
							</a>
						</div>
						<div class="header__lang  paddings">
							<div class="lang  margin-b-10">
								<button type="button" class="lang__link  button_effect_orange  button-clear ">
									<span>RU</span>
									<span class="lang__link-carret caret caret_white_transparent button-clear"></span>
								</button>
								<div class="lang__popup">
									<ul>
										<li><a href="#">RU</a></li>
										<li><a href="#">EN</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>