<header class="header header_after_log">
	<div class="header__main">
		<div class="container">
			<div class="row  align-items-center  justify-content-center  justify-content-lg-between">
				<button class="header__hamburger  hamburger  button-clear"><i class="fa fa-bars" aria-hidden="true"></i></button>
				<div class="col-sm  col-md-4  col-lg">
					<a href="#" class="logo logo_header img-wrap logo_effect ml-auto mr-auto margin-b-10 margin-b-sm-0">
						<img src="images/logo.png" alt="">
					</a>
				</div>
				<form class="search-form  search-form_header    col-sm  col-md-8  col-lg-4 paddings">
					<input type="search" class="search-form__input  input" placeholder="Искать по сайту ...">
					<button class="search-form__button  button-clear">
						<span class="search-form__icon  icon  icon_search"></span>
					</button>
				</form>
				<div class="col-sm  col-md-7  col-lg-5">
					<div class="row  align-items-center  justify-content-center  justify-content-sm-end">
						<div class="col-12  col-sm-auto  paddings  text-center  text-sm-left">
							<a href="#" class="d-inline-block b-sm-block basket ml-auto  mr-auto  ml-sm-0  mr-sm-0">
								<div class="basket__icon icon icon_basket  backward-effect"></div>
								<div class="basket__txt">товаров - <span class="basket__txt-in">6</span></div>
							</a>
						</div>
						<div class="header_personal  paddings">
							<div class="personal">
								<div class="personal__name">
									<span>Имя Фамилия</span>
									<button class="personal__caret caret  caret_on_white button-clear"></button>
								</div>
								<div class="personal__popup">
									<ul>
										<li><a href="#">Личная информация</a></li>
										<li><a href="#">Избранное</a></li>
										<li><a href="#">Запросы</a></li>
									</ul>
									<div class="personal__meneger">
										<div class="personal__meneger-title">Ваш менеджер:</div>
										<div class="personal__meneger-name">Наталья Наталья</div>
										<div class="personal__meneger-link-wrap">
											<a href="tel:+123455667" class="personal__meneger-link"><i class="fa fa-mobile" aria-hidden="true"></i> 123455667</a>
											<a href="mailto:mail@mail.ru" class="personal__meneger-link"><i class="fa fa-envelope" aria-hidden="true"></i> mail@mail.ru</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="header__lang  paddings">
							<div class="lang  lang_after_log">
								<button class="lang__link  button-clear ">
									<span>RU</span>
									<span class="lang__link-carret caret caret_on_white button-clear"></span>
								</button>
								<div class="lang__popup">
									<ul>
										<li><a href="#">RU</a></li>
										<li><a href="#">EN</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="menu  menu_after_log  menu_mobile">
		<button class="menu__close  close  button-clear"></button>
		<ul>
			<li><a href="index.html">Главная</a></li>
			<li><a href="catalog.html">Каталог</a></li>
			<li><a href="applications.html">Виды нанесения</a></li>
			<li><a href="contacts.html">Контакты</a></li>
		</ul>
	</div>
</header>