<div id="login" class="custom-popup">
	<button data-fancybox-close="" class="custom-popup__close  close  close_black  button-clear"></button>
	<form class="popup-form">
		<div class="popup-form__title  content  text-center"><h3>Вход в аккаунт</h3></div>
		<div class="popup-form__fields">
			<div class="popup-form__field  input-wrap">
				<input type="text" class="popup-form__input  input" placeholder="Логин">
				<div class="popup-form__icon_wrap">
					<div class="popup-form__icon  icon-svg  icon-svg_user"></div>
				</div>
			</div>
			<div class="popup-form__field  input-wrap">
				<input type="password" class="popup-form__input  input" placeholder="Пароль">
				<div class="popup-form__icon_wrap">
					<div class="popup-form__icon  icon-svg  icon-svg_key"></div>
				</div>
				<button type="button" class="popup-form__btn  popup-form__btn_change_type  button-clear">
					<div class="popup-form__icon  icon-svg  icon-svg_eye"></div>
				</button>
			</div>
		</div>
		<div class="popup-form__fields-foot">
			<div class="popup-form__fields-foot__in  row  align-items-center justify-content-center  justify-content-sm-between">
				<div class="paddings">
					<label class="popup-form__checkbox  label-checkbox margin-b-10">
						<input type="checkbox" class="popup-form__checkbox-input  label-checkbox__input">
						<span class="popup-form__checkbox-pseudo  label-checkbox__pseudo-check"></span>
						<span class="popup-form__checkbox-txt">Запомнить</span>
					</label>
				</div>
				<div class="paddings">
					<input type="submit" value="Войти" class="popup-form__submit  button  button_bounce-in  button-clear  button_blue  button_width margin-b-10">
				</div>
			</div>
			<div class="popup-form__fields-foot__in  row flex-sm-nowrap align-items-start justify-content-center  justify-content-sm-between">
				<div class="paddings  flex-grow-sm-0  flex-shrink-sm-1">
					<a href="#" class="popup-form__not-reg">Ещё не зарегистрированы</a>
				</div>
				<div class="paddings  flex-shrink-sm-0  flex-grow-sm-1">
					<a href="#" class="popup-form__forget-pass">Забыли пароль?</a>
				</div>
			</div>
		</div>
	</form>
</div>