<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/popper.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/bootstrap-multiselect.js"></script>
<script src="js/vendor/owl.carousel.js"></script>
<script src="js/vendor/jquery.fancybox.min.js"></script>
<script src="js/vendor/jquery.nstSlider.min.js"></script>
<script src="js/vendor/jquery.sticky-kit.js"></script>
<script src="js/vendor/jquery.mCustomScrollbar.js"></script>
<script src="js/vendor/jquery.mousewheel.js"></script>
<script src="js/vendor/jquery.nice-select.min.js"></script>
<script src="js/vendor/masonry.pkgd.min.js"></script>
<script src="js/vendor/xzoom.min.js"></script>
<script src="js/main.js"></script>



