@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat-Bold.woff') format('woff'),
		 url('../fonts/Montserrat-Bold.ttf') format('truetype'),
		 url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Light.eot');
	src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat-Light.woff') format('woff'),
		 url('../fonts/Montserrat-Light.ttf') format('truetype'),
		 url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.eot');
	src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat-Medium.woff') format('woff'),
		 url('../fonts/Montserrat-Medium.ttf') format('truetype'),
		 url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat-Regular.woff') format('woff'),
		 url('../fonts/Montserrat-Regular.ttf') format('truetype'),
		 url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat-SemiBold.woff') format('woff'),
		 url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
		 url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
	font-style: normal;
	font-weight: 600;
}