// float clear
// ===============

@mixin clearfix() {
	&:before, &:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

// =============================================
// =============================================

/* миксин для списков*/
// ===============

@mixin list() {
	padding: 0;
	margin: 0;
	list-style: none;
}

// =============================================
// =============================================

// placeholder
// ===============


@mixin iph() {
	&.placeholder {
		@content; 
	}
	&:-moz-placeholder {
		@content; 
	}
	&::-moz-placeholder {
		@content; 
	}
	&:-ms-input-placeholder {
		@content; 
	}
	&::-webkit-input-placeholder {
		@content; 
	}
}

// =============================================
// =============================================


@mixin button_effect() {
	webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 50%;
		transform-origin: 50%;
		-webkit-transition-property: all;
		transition-property: all;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	&:hover {
		&:before {
			-webkit-transform: scaleY(1);
			transform: scaleY(1);
		}
	}
}


@mixin effect-float() {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	&:hover {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
}

@mixin grow-rotate() {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	&:hover {
		-webkit-transform: scale(1.1) rotate(4deg);
		transform: scale(1.1) rotate(4deg);
	}
}



@mixin backward() {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

@mixin forward() {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	&:hover {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}

}

@mixin bounce-in() {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	&:hover {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
		-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
		transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	}
}

@mixin bounce-out() {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	&:hover {
		transform: scale(0.8);
		transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	}
}


@mixin search-effect-call() {
	animation-name: search;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}


@mixin rectangleIn() {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	transition: .2s linear;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #2a569f;
		-webkit-transform: scale(0);
		transform: scale(0);
		transition: ease-out .2s;
	}
	&:hover {
		color: white;
		&:before {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
}



// @mixin left-side-3d() {
// 	transition: .2s linear;
// 	transform-style: preserve-3d;
// 	&:after {
// 		content: '';
// 		position: absolute;
// 		z-index: -1;
// 		transition: .2s linear;

// 		width: 21%;
// 		height: 100%;
// 		left: -20%;
// 		top: 0;
// 		background: #ebebeb;
// 		transform-origin: 100% 0%;
// 		transform: rotateY(-90deg);
// 	}
// 	&:hover {
// 		transform: rotateY(15deg);
// 		&:after {
// 			// transform: rotateY(-80deg);
// 		}
// 	}
// }


@mixin left-side-3d() {
	transition: .2s linear;
	transform-style: preserve-3d;
	perspective: 800px;
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		transition: .2s linear;

		width: 21%;
		// height: 100%;
		left: -20%;
		top: -1px;
		bottom: -1px;
		background: #ebebeb;
		transform-origin: 100% 0%;
		transform: rotateY(-90deg);
	}
	&:hover {
		transform: rotateY(15deg);
		&:after {
			transform: rotateY(-80deg);
		}
	}
}