html {
	height: 100%;
	font-size: 10px;
}

body {
	height: 100%;
	font-size: $fz;
	line-height: 1.44;
	font-family: $font;
	font-weight: 400;
	background-color: $backgroud_fff;
	color: $main_color;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: $main_color;
	&:focus {
		outline: none;
	}
}

.container {
	@include xl() {
		max-width: 1170px;
	}
}





.flex {
	display: flex;
	flex-wrap: wrap;
}
input {
	&:focus {
		outline: none;
	}
}
button, input[type="submit"] {
	cursor: pointer;
	&:focus {
		outline: none;
	}
}


.paddings {
	padding-left: 15px;
	padding-right: 15px;
}


.margin-b-0 {
	margin-bottom: 0;
}
.margin-b-sm-0 {
	@include sm() {
		margin-bottom: 0 !important;
	}
}
.margin-b-md-0 {
	@include md() {
		margin-bottom: 0 !important;
	}
}
.margin-b-lg-0 {
	@include lg() {
		margin-bottom: 0 !important;
	}
}
.margin-b-xl-0 {
	@include xl() {
		margin-bottom: 0 !important;
	}
}

.margin-b-10 {
	margin-bottom: 10px;
}
.margin-b-sm-10 {
	@include sm() {
		margin-bottom: 10px !important;
	}
}
.margin-b-md-10 {
	@include md() {
		margin-bottom: 10px !important;
	}
}
.margin-b-lg-10 {
	@include lg() {
		margin-bottom: 10px !important;
	}
}
.margin-b-xl-10 {
	@include xl() {
		margin-bottom: 10px !important;
	}
}


.margin-b-20 {
	margin-bottom: 20px;
}
.margin-b-sm-20 {
	@include sm() {
		margin-bottom: 20px !important;
	}
}
.margin-b-md-20 {
	@include md() {
		margin-bottom: 20px !important;
	}
}
.margin-b-lg-20 {
	@include lg() {
		margin-bottom: 20px !important;
	}
}
.margin-b-xl-20 {
	@include xl() {
		margin-bottom: 20px !important;
	}
}

.margin-b-30 {
	margin-bottom: 30px;
}
.margin-b-sm-30 {
	@include sm() {
		margin-bottom: 30px !important;
	}
}
.margin-b-md-30 {
	@include md() {
		margin-bottom: 30px !important;
	}
}
.margin-b-lg-30 {
	@include lg() {
		margin-bottom: 30px !important;
	}
}
.margin-b-xl-30 {
	@include xl() {
		margin-bottom: 30px !important;
	}
}



.text-center {
	text-align: center;
}
.text-sm-center {
	text-align: center;
}
.text-md-center {
	text-align: center;
}
.text-lg-center {
	text-align: center;
}
.text-xl-center {
	text-align: center;
}

.text-left {
	text-align: left;
}
.text-sm-left {
	text-align: left;
}
.text-md-left {
	text-align: left;
}
.text-lg-left {
	text-align: left;
}
.text-xl-left {
	text-align: left;
}


.link-blue {
	color: #638ee6;
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: 100%;
		left: 0;

		transform: translate(0, 2px);
		height: 1px;
		width: 100%;
		background-color: #638ee6;

		transition: linear .1s;
	}
	&:hover, &:focus {
		color: #638ee6;
		text-decoration: none;

		&:before {
			opacity: 0;
			visibility: hidden;
			transform: translate(0, 8px);
		}
	}
}

.link-simple {
	display: inline-block;
	position: relative;
	font-size: 14px;
	color: #5d8ffc;
	line-height: 1.29;
	&:before {
		content: '';

		position: absolute;
		top: 100%;
		left: 0;

		transform: translate(0, 8px);
		height: 1px;
		width: 100%;
		background-color: #638ee6;

		transition: linear .1s;

		opacity: 0;
		visibility: hidden;
	}
	&:hover, &:focus {
		color: #5d8ffc;
		text-decoration: none;

		&:before {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 2px);
		}
	}
}

.margin-side-auto {
	margin-left: auto;
	margin-right: auto;
}

.background-color-grey {
	background-color: #f9f9f9;
}
.background-color-white {
	background-color: #fff;
}


.developer {
	display: block;
	font-size: 12px;
	text-align: center;
	padding: 5px 10px;
	background-color: #fff;
	color: #4e2929;
	line-height: 1.44;
	&:hover, &:focus {
		color: #4e2929;
		text-decoration: none;
	}
}

.overflow-x-hidden {
	overflow-x: hidden;
}

// animations

.search-effect {
	animation-name: search;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.search-effect-on-focus {
	&:focus {
		animation-name: search;
		animation-duration: .5s;
		animation-delay: .2s;
		animation-iteration-count: infinite;
	}
}

@keyframes search {
	from {
		transform: rotate(0) scale3d(1, 1, 1);

	}
	25% {
		transform: rotate(-20deg) scale3d(1.1, 1.1, 1.1);
	}
	50% {
		transform: rotate(0) scale3d(1, 1, 1);
	}
	75% {
		transform: rotate(20deg) scale3d(.8, .8, .8);
	}
	to {
		transform: rotate(0) scale3d(1, 1, 1);
	}
}

// @keyframes pulse-favour {
// 	from {
// 		-webkit-transform: scale3d(1, 1, 1) translate(-50%, -50%);
// 		transform: scale3d(1, 1, 1) translate(-50%, -50%);
// 	}

// 	50% {
// 		-webkit-transform: scale3d(1.05, 1.05, 1.05) translate(-50%, -50%);
// 		transform: scale3d(1.05, 1.05, 1.05) translate(-50%, -50%);
// 	}

// 	to {
// 		-webkit-transform: scale3d(1, 1, 1) translate(-50%, -50%);
// 		transform: scale3d(1, 1, 1) translate(-50%, -50%);
// 	}
// }





// ================



.color-white {
	color: #fff;
}
.color-dark {
	color: #222;
}
.color-black {
	color: #000;
}
.color-dark-else {
	color: #373737;
}

.list {
	@include list();
}


.background-center {
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.background-contain {
	background-size: contain;
}
.background-cover {
	background-size: cover;
}


.flex-column-in-height-full {
	height: 100%;
}

.no-transitions {
	transition: none !important;
}


.is_stuck {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		transition: linear .3s;
	}
}


.flex-shrink-sm-0 {
	@include sm() {
		flex-shrink: 0;
	}
}
.flex-shrink-sm-1 {
	@include sm() {
		flex-shrink: 1;
	}
}

.flex-grow-sm-0 {
	@include sm() {
		flex-grow: 0;
	}
}
.flex-grow-sm-1 {
	@include sm() {
		flex-grow: 1;
	}
}


.col-full-mob {
	@media only screen and(max-width: 400px) {
		flex-basis: 100%;
		max-width: 100%;
	}
}


.margin-r-10 {
	margin-right: 10px;
}