// fonts weight
// ====================

$mont: 'Montserrat', sans-serif;
$fa: 'fontAwesome',sans-serif;

// ============================================
// ============================================

// content font
// ====================

$font: $mont;

// ============================================
// ============================================


// main font-size
// ====================

$fz: 16px;

// ============================================
// ============================================


// column padding
// ====================

$gutter: 15px;

// ============================================
// ============================================


// colors
// ====================

$main_color: #323232;
$text_blue: #638ee6;
$text_fff: #fff;

$background_header: rgba(#525761, .18);
$backgroud_blue: #2a569f;
$backgroud_orange: #f58634;
$backgroud_grey: #f9f9f9;
$backgroud_fff: #fff;
$backgroud_footer: #274b8f;

$border_blue: #2a569f;

// ============================================
// ============================================
